<% provide(:title,"Home") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info'%>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form'%>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  <% else %>
    <div class="center jumbotron">
      <h1>RubyonRails#MicropostProject</h1>
      <h2>一个基于RubyonRails框架的REST风格的简陋伪微博效果</h2>
      <h2>RubyonRails+Heroku+SQLite+postgreSQL+SMTP</h2>
      <h2>
        模型、视图、控制器、模板、局部视图、过滤器、数据验证、回调、has_many/belongs_to 关联、has_many :through 关联、安全、测试和部署。
      </h2>
      <h2 class= "center">
        Contratz me in
        <a href="https://meowsqaq.github.io/blog/">blog</a>
        Nice to meet you!
      </h2>
      <%= link_to "Sign up now!",signup_path,class:"btn btn-lg btn-primary" %>
    </div>
    <div class="center">
      <%= link_to image_tag("kitten.jpg",alt:"Rails logo"),
                  'https://meowsqaq.github.io/blog/' %>
    </div>
  <% end %>
